# Start the service with the command 'docker-compose up -d'

version: '3.9'

services:
  mongo-ipfs-service:
    image: mongo:4.2.0
    container_name: mongo-ipfs-service
    ports:
      - '5556:27017' # <host port>:<container port>
    volumes:
      - ../data/database:/data/db
    command: mongod --logpath=/dev/null # -- quiet
    restart: always

  ipfs-file-service:
    build: .
    #image: christroutner/ipfs-service-provider:v5.0.1
    container_name: ipfs-service
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '10'
    mem_limit: 500mb
    links:
      - mongo-ipfs-service
    ports:
      - '5031:5031' # <host port>:<container port>
    volumes:
      - ../data/ipfsdata:/home/safeuser/ipfs-file-pin-service/.ipfsdata
      - ./start-production.sh:/home/safeuser/ipfs-file-pin-service/start-production.sh
    restart: always
